.fiters-container {
  align-items: center;
  background-color: var(--rich-black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-name-container label input {
  margin-top: 1rem;
  padding: 0.3rem 0;
}

.filter-name-container label input::placeholder {
  padding-left: 0.3rem;
}

.filter-options-container {
  align-items: center;
  display: flex;
  margin-top: 0.5rem;
}

.filter-options-container label {
  font-weight: 700;
  padding: 0.5rem 0.3rem;
}

.filter-options-container label:active {
  color: var(--yellow);
}

.filter-options-container label select {
  background-color: var(--rich-black);
  color: var(--white);
  font-weight: 600;
  margin-left: 0.5rem;
  padding: 0.3rem 0;
}

.filter-options-container label input {
  padding-block: 0.3rem;
  padding-left: 0.7rem;
  width: 50px;
}

.filter-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
  cursor: pointer;
  font-weight: 800;
  margin: 0.5rem 0.8rem;
  padding: 0.8rem;
  text-transform: uppercase;
}

.filters-values-container div button {
  cursor: pointer;
}

.btn:hover {
  border-color: var(--yellow);
  color: var(--yellow);
  transition: 1.3s;
}

.filters-values-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 0.8rem;
  width: 100%;
}

.filters-values-container div span {
  font-weight: 600;
  padding: 0.3rem;
  text-transform: uppercase;
}
