* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  background-color: transparent;
  border-color: var(--white);
  color: var(--white);
  cursor: pointer;
  font-weight: 800;
  margin: 0.5rem 0.8rem;
  padding: 0.8rem;
  text-transform: uppercase;
}

.btn:hover {
  border-color: var(--yellow);
  color: var(--yellow);
  transition: 1.3s;
}

:root {

  --main-black: black;

  --rich-black: #1f1f1f;

  --Eerie-black: #141414;

  --Onix: #b8b8b8;

  --grayWeb: #adadad;

  --white: #fcfcfc;

  --yellow: #ffea00;
}
