* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --main-black: black;

  --rich-black: #1f1f1f;

  --Eerie-black: #141414;

  --Onix: #b8b8b8;

  --grayWeb: #adadad;

  --white: #fcfcfc;

  --yellow: #ffea00;
}
